<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <properties resource="application.properties"/>

    <context id="myContext">

        <plugin type="com.softwareloop.mybatis.generator.plugins.LombokPlugin">
            <property name="builder" value="true"/>
            <property name="data" value="true"/>
        </plugin>

        <jdbcConnection driverClass="${spring.datasource.driverClassName}"
                        connectionURL="${spring.datasource.url}"
                        userId="${spring.datasource.username}"
                        password="${spring.datasource.password}">
            <property name="nullCatalogMeansCurrent" value="true"/>
        </jdbcConnection>

        <javaModelGenerator targetPackage="cn.lsy99.spring.demo.entity.table" targetProject="src/main/java">
        </javaModelGenerator>

        <javaClientGenerator targetPackage="cn.lsy99.spring.demo.dao.generated" targetProject="src/main/java">
        </javaClientGenerator>

        <table tableName="student"/>
        <table tableName="course"/>
        <table tableName="student_course"/>
        <table tableName="test_table"/>

    </context>
</generatorConfiguration>